[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=/bin/bash /home/deck/Desktop/recapture-crankshaft_plugin.sh
GenericName[en_GB]=
GenericName=
Icon=media-record-symbolic
MimeType=
Name[en_GB]=Recapture
Name=Recapture #bash
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
